[run]
omit = isort/_future/*
include =
  isort/*
  test_*.py
  .tox/*/lib/python*/site-packages/isort/*
  .tox\*\Lib\site-packages\isort\*

[paths]
source = isort/
  .tox/*/lib/python*/site-packages/isort/
  .tox\*\Lib\site-packages\isort\
