[run]
omit =
  isort/_future/*
  isort/_vendored/*
  except ImportError:
  tests/*
  isort/deprecated/*

[report]
exclude_lines =
  pragma: no cover
  except ImportError:
  if TYPE_CHECKING:
  raise NotImplementedError
  if __name__ == "__main__":

[paths]
source = isort/
  .tox/*/lib/python*/site-packages/isort/
  .tox\*\Lib\site-packages\isort\
