root = true

[*.py]
max_line_length = 100
indent_style = space
indent_size = 4
known_first_party = isort
known_third_party = kate
ignore_frosted_errors = E103
skip = build,.tox,venv
balanced_wrapping = true

[*.{rst,ini}]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
