[flake8]
max-line-length = 100
# Ignore non PEP 8 compliant rules as suggested by black
extend-ignore =
    E203,  # https://github.com/psf/black/blob/master/docs/the_black_code_style.md#slices
    E501,
    B017
exclude = _vendored
per-file-ignores =
    tests/unit/example_crlf_file.py:F401
