dist: xenial
language: python
cache: pip
install:
- pip3 install poetry
- poetry install
matrix:
  include:
  - os: linux
    python: 3.5
  - os: linux
    python: 3.6
  - os: linux
    python: 3.7
    env: DEPLOY=yes
  - os: linux
    python: 3.8-dev
  - os: osx
    language: generic
script:
- bash scripts/test.sh
after_script:
- bash <(curl -s https://codecov.io/bash)
deploy:
  provider: pypi
  user: timothycrosley
  distributions: sdist bdist_wheel
  skip_existing: true
  on:
    tags: false
    branch: master
    condition: "$DEPLOY = py37"
  password:
    secure: SSFcjBL3dhWvSbo21icmnHQFV7mXfv/eDzxrefHUDMk37MWrvtNKchH8zz7wjAsf2PH1VYL1zkEFwnzuzHgs2aFCK7HDUwAaDSIcvPmJg9Oty+o2WQw16m7UnUac9MIZGmBHQaZuUTw0VJpm3GuPSXtdFJwFq3Tk3TIyUipEwg8=
