<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="isort"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
    <MenuBar>
        <Menu name="isort"><text>&amp;isort</text>
            <Action name="sort_imports" text="Sort Imports" shortcut="Ctrl+[" />
            <Action name="add_imports" text="Add Imports" shortcut="Ctrl+]" />
            <Action name="remove_imports" text="Remove Imports" shortcut="Ctrl+Shift+]" />
        </Menu>
    </MenuBar>
</gui>
